<section class="p-lg-5 p-3 seccion-accesos">
    <div class="container col-12">
        <div class="row">
            <div class="col-6">
                {% set image = 'bundles/front/images/banner1.jpg' %}
                <img src="{{ asset(image) }}" alt="enviar-paquete" class="img-banners">
                <h6>Hacé tu envío ya!</h6>
                <p>Lorem ipsum ad</p>
            </div>
            <div class="col-6">
                {% set image = 'bundles/front/images/banner2.jpg' %}
                <img src="{{ asset(image) }}" alt="calidad" class="img-banners">
                <h6>Calidad y respeto</h6>
                <p>Lorem ipsum ad</p>
            </div>
        </div>
    </div>
</section>
