<section class="p-3 seccion-accesos-rapidos">
    <div class="container col-12 text-center">
        <div class="row">
            <div class="col-3">
                <a href="https://seguimiento.andreani.com/" target="_blank">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-truck"></i>
                    </button>
                    <p class="pt-3">Seguí tu envío</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://andreanionline.com/" target="_blank">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-mail-bulk"></i>
                    </button>
                    <p class="pt-3">Hacé un envío</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://usuarios.e-andreani.com/#!/buscarSucursal" target="_blank">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-warehouse"></i>
                    </button>
                    <p class="pt-3">Mirá nuestras sucursales</p>
                </a>
            </div>
            <div class="col-3">
                <a href="https://responde.andreani.com/" target="_blank">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-comment"></i>
                    </button>
                    <p class="pt-3">Estamos para ayudarte</p>
                </a>
            </div>
        </div>
    </div>
</section>
