<section class="p-lg-5 p-3 seccion-empleo">
    <div class="container col-12 rounded">
        <div class="row">
            <div class="col-6 p-3">
                <h4>Te estamos buscando!</h4>
                <p>Desde andreani queremos que te sumes a un nuevo desafío!</p>
                <a href="#">Ver más</a>
            </div>
            <div class="col-6 pt-3 text-center">
                {% set image = 'bundles/front/images/banner-empleo.jpg' %}
                <img src="{{ asset(image) }}" alt="empleado-andreani">
            </div>
        </div>
    </div>
</section>
