<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="active">
            <a href="{{ path('front_persona') }}">
                <i class="fas fa-users"></i>
                <p>Personas</p>
            </a>
        </li>
        <li class="empresa">
            <a href="{{ path('front_empresa') }}">
                <i class="fas fa-user-tie"></i>
                <p>Empresa</p>
            </a>
        </li>
        <li>
            <a href="{{ path('front_persona') }}">
                <i class="fas fa-home"></i>
                <p>Inicio</p>
            </a>
        </li>
        <hr>
        <li>
            <a href="https://seguimiento.andreani.com/" target="_blank">
                <i class="fas fa-truck"></i>
                <p>Seguimiento de tu envío</p>
            </a>
        </li>
        <li>
            <a href="https://andreanionline.com/" target="_blank">
                <i class="fas fa-mail-bulk"></i>
                <p>Hacer un Envío</p>
            </a>
        </li>
        <li>
            <a href="https://usuarios.e-andreani.com/#!/buscarSucursal" target="_blank">
                <i class="fas fa-warehouse"></i>
                <p>Nuestras Sucursales</p>
            </a>
        </li>
        <li>
            <a href="https://codigopostal.com.ar/" target="_blank">
                <i class="fas fa-search"></i>
                <p>Buscá un código postal</p>
            </a>
        </li>
        <li>
            <a href="https://responde.andreani.com/" target="_blank">
                <i class="fas fa-comment"></i>
                <p>Estamos para ayudarte</p>
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <i class="fas fa-archive"></i>
                <p>Nuestro Servicios</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-mail-bulk"></i>
                <p>Nosotros</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-newspaper"></i>
                <p>Noticias</p>
            </a>
        </li>
        <li>
            <a href="https://andreani.hiringroom.com/jobs" target="_blank">
                <i class="fas fa-people-carry"></i>
                <p>Trabaja en Andreani</p>
            </a>
        </li>
    </ul>
</nav>
