<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-default">
            <i class="fas fa-bars"></i>
        </button>
        <ul>
            <li>
                <a class="btn btn-default nopadding pt-3 pr-5 desktop-display" href="https://responde.andreani.com/" target="_blank">
                    <i class="fas fa-question-circle">
                        <p class="title-icon">Ayuda</p>
                    </i>
                </a>
            </li>
            <li>
                <a class="btn btn-default nopadding pt-3 pr-2" href="{{ path('front_persona') }}">
                    <i class="fas fa-users">
                        <p class="title-icon">Personas</p>
                    </i>
                </a>
            </li>
        </ul>
    </div>
</nav>
