<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="active">
            <a href="{{ path('front_empresa') }}">
                <i class="fas fa-user-tie"></i>
                <p>Empresas</p>
            </a>
        </li>
        <li class="empresa">
            <a href="{{ path('front_persona') }}">
                <i class="fas fa-users"></i>
                <p>Personas</p>
            </a>
        </li>
        <li>
            <a href="{{ path('front_empresa') }}">
                <i class="fas fa-home"></i>
                <p>Inicio</p>
            </a>
        </li>
        <hr>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-coins"></i>
                <p>Financiero</p>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Retail</p>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-syringe"></i>
                <p>Farmaceútico</p>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-car-side"></i>
                <p>Automotor</p>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-sim-card"></i>
                <p>Tecnología</p>
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <i class="fas fa-archive"></i>
                <p>Ecommerce</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-mail-bulk"></i>
                <p>Centro de distribución</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-newspaper"></i>
                <p>Oble postal</p>
            </a>
        </li>
        <hr>
        <li>
            <a href="#">
                <i class="fas fa-dolly"></i>
                <p>Integraciones</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <p>Desarrollo de servicios</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-industry"></i>
                <p>Almacenamiento</p>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-shiping-fast"></i>
                <p>Operativos Especializados</p>
            </a>
        </li>
    </ul>
</nav>
