<section class="p-lg-5 p-3 seccion-servicios">
    <h5 class="p-2 pb-3">Servicios</h5>
    <div class="container col-12 text-center">
        <div class="row">
            <div class="col-3">
                <a href="{{ path('front_empresa_servicio', { "slug": "inegradores" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-dolly"></i>
                    </button>
                    <p class="pt-3">Integradores</p>
                </a>
            </div>
            <div class="col-3">
                <a href="{{ path('front_empresa_servicio', { "slug": "desarollo-de-servicios" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-cog"></i>
                    </button>
                    <p class="pt-3">Desarrollo de servicios</p>
                </a>
            </div>
            <div class="col-3">
                <a href="{{ path('front_empresa_servicio', { "slug": "Almacenamiento" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-industry"></i>
                    </button>
                    <p class="pt-3">Almacenamiento</p>
                </a>
            </div>
            <div class="col-3">
                <a href="{{ path('front_empresa_servicio', { "slug": "operativos-especializados" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-shipping-fast"></i>
                    </button>
                    <p class="pt-3">Operativos especializados</p>
                </a>
            </div>
        </div>
    </div>
</section>
